body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
    padding: 8px;
    }

.title {
  background: #e3f4ff;

  font-size: 16px;
  padding: 8px;
  margin: 8px;

}

.content {
  background: #e3f4ff;

  margin: 8px;
  padding: 8px;
  padding-top:16px;
  padding-bottom:16px;
}

.button-container {
  background: #e3f4ff;
  text-align:center;
  margin: 8px;
  padding: 8px;
}

/* I figured out that to center something like this you have to set
the margins to auto, the padding around the button text comes from the button
itself, not the text... there may be a better way to do this */

button {
  display:block;
  background: white;
  border: 1px solid #eee;
  padding-left:24px;
  padding-right:24px;
  padding-top:8px;
  padding-bottom:8px;
  margin-left: auto;
  margin-right: auto;

}